<footer>
    <div class='content-padding'>
        <div class='footer-content'>
            <p>Copyright &copy; 2016<span> Stanley Omoregie - A basic movie app for Star Wars fans - Version: 1.0.0</span></p>

            <div class='social-media-icons'>
                <a href='#'><i class='fa fa-empire'></i></a>
                <a href='#'><i class='fa fa-rebel'></i></a>
            </div>
        </div>
    </div>
</footer>